@page "/icds"

@attribute [Authorize(HealthCarePermissions.Icds.Default)]

@using Pusula.Training.HealthCare.Blazor.Services.Treatment
@using Pusula.Training.HealthCare.Localization
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Pusula.Training.HealthCare.Treatment.Icds
@using Volo.Abp.Http.Client
@inherits HealthCareComponentBase
@inject IIcdsAppService IcdsAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType

<SfBreadcrumb>
    <BreadcrumbItems>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem IconCss="e-icons e-home"/>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem Text=@L["ICDs"]/>
    </BreadcrumbItems>
</SfBreadcrumb>

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ICDs"]" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Row>
            <SfTextBox @bind-Value="@Filter.FilterText" Placeholder="@L["Search"]" CssClass="form-control mb-3" @onchange="GetIcdsAsync"></SfTextBox>
            <SfButton CssClass="btn e-primary" OnClick="GetIcdsAsync">
                <SfIcon IconCss="e-icons e-search"></SfIcon> @L["Search"]
            </SfButton>
        </Row>
        
        <Row Class="mt-3 mb-3">
            <div class="col-md-12">
                <a href="javascript:;" class="text-decoration-none" @onclick="() => ShowAdvancedFilters = !ShowAdvancedFilters">@L["SeeAdvancedFilters"]</a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["CodeNumber"]</FieldLabel>
                        <SfTextBox @bind-Value="@Filter.CodeNumber" Placeholder="@L["CodeNumber"]"></SfTextBox>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Detail"]</FieldLabel>
                        <SfTextBox @bind-Value="@Filter.Detail" Placeholder="@L["Detail"]"></SfTextBox>
                    </Field>
                </Column>
            </Row>
        </div>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@

<div class="row py-3 px-2">
    <div class="col-12 border-1 bg-white rounded-1 p-4">
        <SfGrid TItem="IcdDto"
                TValue="IcdDto"
                @ref="Grid"
                AllowPaging="true"
                AllowSorting="true"
                Toolbar="@(new List<string>() { "Delete" })"
                SelectionSettings="new GridSelectionSettings() { Type = SelectionType.Multiple }"
                Query="@FilterQuery">
            <SfDataManager
                AdaptorInstance="@typeof(IcdAdaptor)"
                Adaptor="Adaptors.CustomAdaptor">
            </SfDataManager>
            <GridEvents
                OnActionBegin="OnActionBegin"
                RowSelected="RowSelectHandler"
                OnToolbarClick="ToolbarClickHandler"
                RowDeselected="RowDeselectHandler"
                TValue="IcdDto">
            </GridEvents>
            <GridPageSettings PageSize="@PageSize"></GridPageSettings>
            <GridColumns>
                @if (CanDeleteIcd && IcdList.Any())
                {
                <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                }

                <GridColumn HeaderText="@L["Code Number"]">
                    <Template>
                        @{
                        var icd = (context as IcdDto);
                        var codeNumber = icd?.CodeNumber ?? "No Data";
                        }
                        @codeNumber
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Detail"]">
                    <Template>
                        @{
                        var icd = (context as IcdDto);
                        var detail = icd?.Detail ?? "No Data";
                        }
                        @detail
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Actions"]" Width="150">
                    <Template>
                        @{
                        var icd = (context as IcdDto);
                        }
                        <div class="d-flex justify-content-around">
                            <SfButton IconCss="e-icons e-edit" CssClass="e-primary" OnClick="@(() => OpenEditIcdModal(icd!))">
                            </SfButton>
                            
                            <SfButton IconCss="e-icons e-delete" CssClass="e-danger" OnClick="@(() => DeleteIcdAsync(icd!))">
                            </SfButton>
                        </div>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

@* ************************* CONFIRM MODAL ************************* *@
<SfDialog @ref="DeleteConfirmDialog" Width="250px" Visible="false" ShowCloseIcon="true" IsModal="true">
    <DialogEvents Closed="Closed"></DialogEvents>
    <DialogTemplates>
        <Header>@L["DeleteRecord"]</Header>
        <Content>@L["DeleteConfirmationMessage"] </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="OkClick" Content="@L["Yes"]" IsPrimary="true"></DialogButton>
        <DialogButton OnClick="CancelClick" Content="@L["No"]"></DialogButton>
    </DialogButtons>
</SfDialog>

@* ************************* CREATE MODAL ************************* *@
<SfDialog Width="800px" IsModal="true" Header="@L["CreateIcd"]"
          ShowCloseIcon="true" @bind-Visible="@IsVisibleCreate">
    <DialogEvents Closed="@CloseCreateIcdModal" ></DialogEvents>
    <DialogTemplates>
        <Header>
            <div style="display: inline-flex; align-items: center;">
                <i class="fa fa-pen-to-square" style="margin-right: 5px; font-size: 1.5rem;"></i>
                <h3 style="margin: 0;">@L["CreateIcd"]</h3>
            </div>
        </Header>
    </DialogTemplates>

    <EditForm Model="@NewIcd" OnValidSubmit="CreateIcdAsync">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>@L["CodeNumber"]</label>
                <SfTextBox TValue="string" @bind-Value="@NewIcd.CodeNumber" Placeholder="@L["EnterCodeNumber"]"
                           MaxLength="IcdConsts.CodeNumberLength">
                </SfTextBox>
                <ValidationMessage For="@(() => NewIcd.CodeNumber)"></ValidationMessage>
            </div>

            <div class="col-md-6 mb-3">
                <label>@L["Detail"]</label>
                <SfTextBox TValue="string" @bind-Value="@NewIcd.Detail" Placeholder="@L["EnterDetail"]"
                           MaxLength="IcdConsts.DetailLength">
                </SfTextBox>
                <ValidationMessage For="@(() => NewIcd.Detail)"></ValidationMessage>
            </div>
        </div>
    </EditForm>

    <Footer>
        <SfButton CssClass="e-danger" Content="@L["Cancel"]" IsPrimary="false" OnClick="CloseCreateIcdModal" />
        <SfButton CssClass="e-primary" Content="@L["Submit"]" IsPrimary="true" OnClick="CreateIcdAsync" />
    </Footer>
</SfDialog>

@* ************************* EDIT MODAL ************************* *@

<SfDialog Width="800px" IsModal="true" Header="@L["UpdateIcd"]"
          ShowCloseIcon="true" Visible="@IsVisibleEdit">
    <DialogEvents Closed="@CloseEditIcdModal" ></DialogEvents>
    <DialogTemplates>
        <Header>
            <div style="display: inline-flex; align-items: center;">
                <i class="fa fa-arrows-rotate" style="margin-right: 5px; font-size: 1.5rem;"></i>
                <h3 style="margin: 0;">@L["UpdateIcd"]</h3>
            </div>
        </Header>
    </DialogTemplates>

    <EditForm Model="@EditingIcd" OnValidSubmit="UpdateIcdAsync">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>@L["CodeNumber"]</label>
                <SfTextBox TValue="string" @bind-Value="@EditingIcd.CodeNumber" Placeholder="@L["EnterCodeNumber"]"
                           MaxLength="IcdConsts.CodeNumberMaxLength" />
                <ValidationMessage For="@(() => EditingIcd.CodeNumber)"></ValidationMessage>
            </div>

            <div class="col-md-6 mb-3">
                <label>@L["Detail"]</label>
                <SfTextBox TValue="string" @bind-Value="@EditingIcd.Detail" Placeholder="@L["EnterDetail"]"
                           MaxLength="IcdConsts.DetailMaxLength" />
                <ValidationMessage For="@(() => EditingIcd.Detail)"></ValidationMessage>
            </div>
        </div>
    </EditForm>

    <Footer>
        <SfButton CssClass="e-danger" Content="@L["Cancel"]" IsPrimary="false" OnClick="CloseEditIcdModal" />
        <SfButton CssClass="e-primary" Content="@L["Submit"]" IsPrimary="true" OnClick="UpdateIcdAsync" />
    </Footer>
</SfDialog>