@page "/appointments/reports/overview"

@attribute [Authorize(HealthCarePermissions.Appointments.Default)]

@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Blazor.Services
@using Syncfusion.Blazor.Charts
@using Pusula.Training.HealthCare.MedicalServices
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Shared
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Syncfusion.Blazor.Buttons
@using Volo.Abp.AspNetCore.Components.Messages
@using Alignment = Syncfusion.Blazor.Charts.Alignment
@using Syncfusion.Blazor.Calendars
@inherits HealthCareComponentBase

@inject IUiMessageService UiMessageService
@inject IAppointmentAppService AppointmentAppService
@inject ILookupAppService LookupAppService

<SfBreadcrumb>
    <BreadcrumbItems>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem IconCss="e-icons e-home"/>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem Text=@L["AppointmentOverview"]/>
    </BreadcrumbItems>
</SfBreadcrumb>
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["AppointmentOverview"]">
</PageHeader>

<div class="row py-2 px-2">


</div>
<SfTab>
<TabItems>
<TabItem>
    <ChildContent>
        <TabHeader Text="@L["Overview"]"></TabHeader>
    </ChildContent>

    <ContentTemplate>
        @* ************************* SEARCH ************************* *@
        <div class="row py-2 px-2">
            <div class="col-12 border-1 bg-white rounded-1 p-4">
                <div class="row">
                    <div class="col-3 my-1">
                        <div>
                            <h6>@L["PatientType"]</h6>
                            <SfDropDownList
                                TItem="KeyValuePair<string, EnumPatientTypes>"
                                TValue="EnumPatientTypes?"
                                @bind-Value="Filter.PatientType"
                                DataSource="@PatientTypeCollection">
                                <DropDownListFieldSettings Text="Key" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-3 my-1">
                        <div>
                            <h6>@L["Status"]</h6>
                            <SfDropDownList
                                TItem="KeyValuePair<string, EnumAppointmentStatus>"
                                TValue="EnumAppointmentStatus?"
                                @bind-Value="Filter.Status"
                                DataSource="@StatusCollection">
                                <DropDownListFieldSettings Text="Key" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-3 my-1">
                        <h6>@L["MinCost"]</h6>
                        <SfNumericTextBox TValue="double?" @bind-Value="@Filter.MinAmount" Placeholder="@L["MinCost"]" Min="MedicalServiceConsts.CostMinValue" Max="MedicalServiceConsts.CostMaxValue"></SfNumericTextBox>
                    </div>
                    <div class="col-3 my-1">
                        <h6>@L["MaxCost"]</h6>
                        <SfNumericTextBox TValue="double?" @bind-Value="@Filter.MaxAmount" Placeholder="@L["MaxCost"]" Min="MedicalServiceConsts.CostMinValue" Max="MedicalServiceConsts.CostMaxValue"></SfNumericTextBox>
                    </div>
                    <div class="col-3 my-1">
                        <h6>@L["AppointmentMinDate"]</h6>
                        <SfDatePicker TValue="DateTime?" @bind-Value="@Filter.AppointmentMinDate" Placeholder="@L["AppointmentMinDate"]"></SfDatePicker>
                    </div>
                    <div class="col-3 my-1">
                        <h6>@L["AppointmentMaxDate"]</h6>
                        <SfDatePicker TValue="DateTime?" @bind-Value="@Filter.AppointmentMaxDate" Placeholder="@L["AppointmentMaxDate"]"></SfDatePicker>
                    </div>
                    <div class="col-3 my-1">
                        <div>
                            <h6>@L["Departments"]</h6>
                            <SfDropDownList
                                TItem="LookupDto<Guid>" TValue="Guid?"
                                @bind-Value="Filter.DepartmentId"
                                DataSource="@DepartmentsCollection"
                                AllowFiltering="true">
                                <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-3 my-1">
                        <div>
                            <h6>@L["MedicalService"]</h6>
                            <SfDropDownList TItem="LookupDto<Guid>" TValue="Guid?"
                                            @bind-Value="Filter.MedicalServiceId"
                                            DataSource="@MedicalServiceCollection"
                                            AllowFiltering="true">
                                <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </div>
                </div>
                <div>
                    <SfButton CssClass="e-primary" OnClick="GetAppointmentsAsync">
                        <SfIcon IconCss="e-icons e-search"></SfIcon> @L["Search"]
                    </SfButton>
                    <SfButton CssClass="e-danger" OnClick="ClearFilters">
                        <SfIcon IconCss="e-icons e-filter-clear"></SfIcon> @L["ClearFilters"]
                    </SfButton>
                </div>

            </div>
        </div>

        @* ************************* Graphs ************************* *@
        <div class="d-flex justify-content-between border-1 bg-white rounded-1 p-2 m-0">
            <div class="w-50">
                <SfAccumulationChart @ref="AccumulationChart" Width="100%" Height="380px" Title="@($"{L["AppointmentsBy"]} {L[Filter.GroupByField]}")">
                    <AccumulationChartSeriesCollection >
                        <AccumulationChartSeries DataSource="@AppointmentByDepartmentCollection" XName="GroupName" YName="AppointmentCount">
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>

                    <AccumulationChartEvents SizeChanged="@OnResize"></AccumulationChartEvents>
                    <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                    <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>

                </SfAccumulationChart>
            </div>
            <div class="w-50">
                <SfChart Title="@L["AppointmentsByDates"]">
                    <ChartTitleStyle Size="16px" Color="black" FontFamily="Helvetica" FontWeight="600" FontStyle="normal"></ChartTitleStyle>
                    <ChartPrimaryXAxis Title="Day" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime">
                        <ChartAxisLabelStyle FontFamily="Helvetica"></ChartAxisLabelStyle>
                        <ChartAxisTitleStyle FontFamily="Helvetica"></ChartAxisTitleStyle>
                    </ChartPrimaryXAxis>
                    <ChartPrimaryYAxis Title="@L["Appointments"]">
                        <ChartAxisLabelStyle FontFamily="Helvetica"></ChartAxisLabelStyle>
                        <ChartAxisTitleStyle FontFamily="Helvetica"></ChartAxisTitleStyle>
                    </ChartPrimaryYAxis>
                    <ChartTooltipSettings Enable="true">
                        <ChartTooltipTextStyle FontFamily="Helvetica"></ChartTooltipTextStyle>
                    </ChartTooltipSettings>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@AppointmentByDateCollection" XName="GroupName" YName="AppointmentCount" Type="ChartSeriesType.Column">
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartLegendSettings Visible="true">
                        <ChartLegendTextStyle FontFamily="Helvetica"></ChartLegendTextStyle>
                    </ChartLegendSettings>
                </SfChart>
            </div>
        </div>

        @* ************************* GRID ************************* *@
        <div class="row py-2 px-2">
            <div class="col-12 border-1 bg-white rounded-1 p-4 d-flex flex-column gap-2">
                <div class="d-flex gap-2 mb-2 text-center align-items-center">
                    <h6 class="m-0">@L["AppointmentCountBy"] : </h6>
                    <SfDropDownList
                        Width="120px"
                        TItem="string"
                        TValue="string"
                        @bind-Value="Filter.GroupByField"
                        DataSource="@GroupByOptions">
                    </SfDropDownList>
                </div>

                <SfGrid
                    @ref="Grid"
                    TValue="GroupedAppointmentCountDto"
                    AllowPaging="true"
                    AllowSorting="true"
                    Query="@FilterQuery">
                    <SfDataManager
                        AdaptorInstance="@typeof(AppointmentStatisticsAdaptor)"
                        Adaptor="Adaptors.CustomAdaptor">
                    </SfDataManager>
                    <GridPageSettings PageSize="@PageSize"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field="GroupName" HeaderText="@L["Name"]" TextAlign="TextAlign.Left" Width="130"></GridColumn>
                        <GridColumn Field="AppointmentCount" HeaderText="@L["AppointmentCount"]" TextAlign="TextAlign.Left" Width="130"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </ContentTemplate>
</TabItem>

<TabItem>
    <ChildContent>
        <TabHeader Text="@L["StatisticsAndInfoGraphics"]"></TabHeader>
    </ChildContent>

    <ContentTemplate>
        <div class="row py-2 px-2">
            <div class="col-12 d-flex gap-3 border-1 bg-white rounded-1 p-4">
                <SfDateRangePicker Width="250px" TValue="DateTime?" Placeholder="@L["ChooseARange"]" StartDate="@ChartMinDate" EndDate="@ChartMaxDate">
                    <DateRangePickerEvents TValue="DateTime?" ValueChange="@OnChange"></DateRangePickerEvents>
                    </SfDateRangePicker>
                <SfButton CssClass="e-primary" OnClick="@GetGraphStatistics">
                    <SfIcon IconCss="e-icons e-search"></SfIcon> @L["Search"]
                </SfButton>
            </div>
        </div>
        <div class="row py-2 px-2">
            @* ************************* Graphs ************************* *@
            <div class="d-flex justify-content-between border-1 bg-white rounded-1 p-2 m-0">
                <div class="w-50">
                    <SfAccumulationChart Width="100%" Height="380px" Title="@L["AppointmentsByStatus"]">
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartTitleStyle TextAlignment="Alignment.Center"></AccumulationChartTitleStyle>

                            <AccumulationChartSeries DataSource="@AppointmentByStatusCollection" XName="GroupName" YName="AppointmentCount" InnerRadius="40%">
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>
                        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                    </SfAccumulationChart>
                </div>
                <div class="w-50">
                    <SfAccumulationChart Width="100%" Height="380px" Title="@($"{L["RevenueByServices"]} / {L["USD"]}")">
                        <AccumulationChartSeriesCollection >
                            <AccumulationChartSeries DataSource="@RevenuByServiceCollection" XName="GroupName" YName="AppointmentCount">
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>

                        <AccumulationChartEvents SizeChanged="@OnResize"></AccumulationChartEvents>
                        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                        <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} USD</b>"></AccumulationChartTooltipSettings>

                    </SfAccumulationChart>
                </div>
            </div>
        </div>
        <div class="row py-2 px-2">
            @* ************************* Graphs ************************* *@
            <div class="d-flex justify-content-between border-1 bg-white rounded-1 p-2 m-0">
                <div class="w-50">
                    <SfAccumulationChart Width="100%" Height="380px" Title="@L["AppointmentsByGender"]">
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartTitleStyle TextAlignment="Alignment.Center"></AccumulationChartTitleStyle>

                            <AccumulationChartSeries DataSource="@AppointmentByGenderCollection" XName="GroupName" YName="AppointmentCount" InnerRadius="40%">
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>
                        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                    </SfAccumulationChart>
                </div>
                <div class="w-50">
                    <SfAccumulationChart Width="100%" Height="380px" Title="@($"{L["RevenueByDepartments"]} / {L["USD"]}")">
                        <AccumulationChartSeriesCollection >
                            <AccumulationChartSeries DataSource="@RevenueByDepartmentCollection" XName="GroupName" YName="AppointmentCount">
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>

                        <AccumulationChartEvents SizeChanged="@OnResize"></AccumulationChartEvents>
                        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                        <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} USD</b>"></AccumulationChartTooltipSettings>

                    </SfAccumulationChart>
                </div>
            </div>
        </div>
        <div class="row py-2 px-2">
            @* ************************* Graphs ************************* *@
            <div class="d-flex justify-content-between border-1 bg-white rounded-1 p-2 m-0">
                <div class="w-50">
                    <SfChart Width="100%" Height="380px" Title="@L["AppointmentsByType"]">
                        <ChartTitleStyle Size="16px" Color="black" FontFamily="Helvetica" FontWeight="600" FontStyle="normal"></ChartTitleStyle>
                        <ChartPrimaryXAxis Title="Day" ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                            <ChartAxisLabelStyle FontFamily="Helvetica"></ChartAxisLabelStyle>
                            <ChartAxisTitleStyle FontFamily="Helvetica"></ChartAxisTitleStyle>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Title="@L["Appointments"]">
                            <ChartAxisLabelStyle FontFamily="Helvetica"></ChartAxisLabelStyle>
                            <ChartAxisTitleStyle FontFamily="Helvetica"></ChartAxisTitleStyle>
                        </ChartPrimaryYAxis>
                        <ChartTooltipSettings Enable="true">
                            <ChartTooltipTextStyle FontFamily="Helvetica"></ChartTooltipTextStyle>
                        </ChartTooltipSettings>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AppointmentByTypeCollection" XName="GroupName" YName="AppointmentCount" Type="ChartSeriesType.Column">
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartLegendSettings Visible="true">
                            <ChartLegendTextStyle FontFamily="Helvetica"></ChartLegendTextStyle>
                        </ChartLegendSettings>
                    </SfChart>
                </div>
                <div class="w-50">
                </div>
            </div>
        </div>
    </ContentTemplate>
</TabItem>
</TabItems>
</SfTab>