@page "/appointments/definitions/medical-service/{Id:guid}"

@attribute [Authorize(HealthCarePermissions.MedicalServices.Default)]


@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Blazor.Services
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.MedicalServices
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Restrictions
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Messages
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@using Syncfusion.Blazor.Buttons
@inherits HealthCareComponentBase

@inject IUiMessageService UiMessageService
@inject IAppointmentAppService AppointmentAppService
@inject ILookupAppService LookupAppService
@inject IMedicalServicesAppService MedicalServicesAppService
@inject IRestrictionAppService RestrictionAppService

<SfBreadcrumb>
    <BreadcrumbItems>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem IconCss="e-icons e-home"/>
        <Syncfusion.Blazor.Navigations.BreadcrumbItem Text=@L["MedicalServiceDetails"]/>
    </BreadcrumbItems>
</SfBreadcrumb>
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["MedicalServiceDetails"]">
</PageHeader>

<div class="row p-4 border-1 bg-white rounded-1">
    <div class="card">

        <h5 class="fw-bold">@L["ServiceInformation"]</h5>

        <div class="d-flex align-items-center gap-2">
            <h6>@L["Name"]: @MedicalService.Name</h6>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <h6>@L["Status"]: @MedicalService.Cost</h6>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <h6>@L["Cost"]: @MedicalService.Cost</h6>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <h6>@L["Duration"]: @MedicalService.Duration</h6>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <h6>@L["CreatedAt"]: @MedicalService.CreationTime.ToShortDateString()</h6>
        </div>
    </div>
</div>

<div class="row p-4 border-1 bg-white rounded-1 my-2">
    <SfTab>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="@L["ServiceDoctors"]"></TabHeader>
                </ChildContent>

                <ContentTemplate>
                    <div class="my-3">
                        <SfGrid TItem="DoctorDto"
                                DataSource="DoctorCollection"
                                AllowPaging="true"
                                AllowSorting="true"
                                SelectionSettings="new GridSelectionSettings() { Type = SelectionType.Multiple }">
                            <GridPageSettings PageSize="@PageSize" CurrentPage="@CurrentPage"></GridPageSettings>
                            <GridColumns>
                                <GridColumn HeaderText="@L["Doctor"]" width="260px">
                                    <Template>
                                        @{
                                            var doctorContext = (context as DoctorDto);
                                            var doctor = doctorContext?.FirstName + " " + doctorContext?.LastName;
                                        }
                                        @doctor
                                    </Template>
                                </GridColumn>

                                <GridColumn HeaderText="@L["Department"]">
                                    <Template>
                                        @{
                                            var doctor = (context as DoctorDto);
                                            var department = doctor?.Department?.Name ?? "No Data";
                                        }
                                        @department
                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </ContentTemplate>
            </TabItem>

            <TabItem>
                <ChildContent>
                    <TabHeader Text="@L["ServiceRestrictions"]"></TabHeader>
                </ChildContent>

                <ContentTemplate>
                    <div class="my-3">
                        <SfGrid TItem="RestrictionDto"
                                DataSource="@RestrictionCollection"
                                AllowPaging="true"
                                AllowSorting="true"
                                Toolbar="@Toolbaritems"
                                SelectionSettings="new GridSelectionSettings() { Type = SelectionType.Multiple }">
                            <GridPageSettings PageSize="@PageSize" CurrentPage="@CurrentPage"></GridPageSettings>
                            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
                            <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="RestrictionDto"></GridEvents>
                            <GridColumns>
                                <GridColumn HeaderText="@L["Doctor"]" width="145px">
                                    <Template Context="context">
                                        @($"{((RestrictionDto)context).Doctor?.FirstName} {((RestrictionDto)context).Doctor?.LastName}")
                                    </Template>
                                </GridColumn>

                                <GridColumn HeaderText="@L["Department"]">
                                    <Template Context="context">
                                        @($"{((RestrictionDto)context).Department?.Name}")
                                    </Template>
                                </GridColumn>
                                <GridColumn HeaderText="@L["MinAge"]" Field="MinAge"></GridColumn>
                                <GridColumn HeaderText="@L["MaxAge"]" Field="MaxAge"></GridColumn>
                                <GridColumn HeaderText="@L["Gender"]" Field="AllowedGender"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@* Create Modal *@
<SfDialog Width="450px" IsModal="true" Header="@L["NewRestriction"]"
          ShowCloseIcon="true" Visible="@IsAddModalVisible">

    <EditForm Model="@NewRestriction" OnValidSubmit="CreateRestrictionAsync">
        <DataAnnotationsValidator/>
        <div class="form-group col-6">
            <h6 class="text-black">@L["Gender"]</h6>
            <SfDropDownList DataSource="@GendersCollection" @bind-Value="@NewRestriction.AllowedGender" TItem="KeyValuePair<string, EnumGender>" TValue="EnumGender?">
                <DropDownListFieldSettings Text="Key" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
            <ValidationMessage For="@(() => NewRestriction.AllowedGender)"></ValidationMessage>
        </div>
        <div class="form-group">
            <SfButton CssClass="e-danger" Content="@L["Cancel"]" IsPrimary="true" @onclick="CloseCreateRestrictionModal"/>
            <SfButton Type="submit" CssClass="e-success e-outline" Content="@L["Save"]" IsPrimary="true"/>
        </div>
    </EditForm>
</SfDialog>
