@page "/medical-staff"

@attribute [Authorize(HealthCarePermissions.MedicalStaff.Default)]
@using Pusula.Training.HealthCare.Blazor.Services
@using Pusula.Training.HealthCare.MedicalPersonnel
@using Pusula.Training.HealthCare.Localization
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Shared
@using Volo.Abp.Http.Client
@inherits HealthCareComponentBase
@inject IMedicalStaffAppService MedicalStaffAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["MedicalStaff"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <SfTextBox @bind-Value="@Filter.FilterText" Placeholder="@L["Search"]" CssClass="form-control mb-3" @onchange="GetMedicalStaffAsync"></SfTextBox>
        <SfButton CssClass="btn btn-primary" OnClick="GetMedicalStaffAsync">
            <SfIcon IconCss="e-icons e-search"></SfIcon> @L["Search"]
        </SfButton>

        <Row Class="mt-3 mb-3">
            <div class="col-md-12">
                <a href="javascript:;" class="text-decoration-none" @onclick="() => ShowAdvancedFilters = !ShowAdvancedFilters">@L["SeeAdvancedFilters"]</a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FirstName"]</FieldLabel>
                        <SfTextBox @bind-Value="@Filter.FirstName" Placeholder="@L["FirstName"]"></SfTextBox>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["LastName"]</FieldLabel>
                        <SfTextBox @bind-Value="@Filter.LastName" Placeholder="@L["LastName"]"></SfTextBox>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityNumber"]</FieldLabel>
                        <SfTextBox @bind-Value="@Filter.IdentityNumber" Placeholder="@L["IdentityNumber"]"></SfTextBox>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinYearOfExperience"]</FieldLabel>
                        <SfNumericTextBox TValue="int?" @bind-Value="@Filter.YearOfExperienceMin" Placeholder="@L["MinBirthDate"]"></SfNumericTextBox>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinBirthDate"]</FieldLabel>
                        <SfDatePicker TValue="DateTime?" @bind-Value="@Filter.BirthDateMin" Placeholder="@L["MinBirthDate"]"></SfDatePicker>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxBirthDate"]</FieldLabel>
                        <SfDatePicker TValue="DateTime?" @bind-Value="@Filter.BirthDateMax" Placeholder="@L["MaxBirthDate"]"></SfDatePicker>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["City"]</FieldLabel>
                        <SfDropDownList TItem="LookupDto<Guid>"
                                        @bind-Value="Filter.CityId"
                                        TValue="Guid?"
                                        Placeholder="Select a city"
                                        DataSource="@CitiesCollection">
                            <DropDownListEvents TItem="LookupDto<Guid>" TValue="Guid?" ValueChange="ChangeCity"></DropDownListEvents>
                            <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </Field>
                </Column>

                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["District"]</FieldLabel>
                        <SfDropDownList TValue="Guid?"
                                        TItem="LookupDto<Guid>"
                                        @bind-Value="Filter.DistrictId"
                                        Placeholder="Select a district"
                                        DataSource="@DistrictsCollection">
                            <DropDownListEvents TItem="LookupDto<Guid>" TValue="Guid?"></DropDownListEvents>
                            <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Department"]</FieldLabel>
                        <SfDropDownList TItem="LookupDto<Guid>" TValue="Guid?"
                                        @bind-Value="Filter.DepartmentId"
                                        DataSource="@DepartmentsCollection">
                            <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </Field>
                </Column>
            </Row>
        </div>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@

<Card>
    <CardBody>
        <SfGrid @ref="Grid"
                TValue="MedicalStaffWithNavigationPropertiesDto"
                AllowPaging="true"
                AllowSorting="true"
                Toolbar="@(new List<string>() { "Delete" })"
                SelectionSettings="new GridSelectionSettings() { Type = SelectionType.Multiple }"
                Query="@FilterQuery">
            <SfDataManager
                AdaptorInstance="@typeof(MedicalStaffAdaptor)"
                Adaptor="Adaptors.CustomAdaptor">
            </SfDataManager>
            <GridEvents
                OnActionBegin="OnActionBegin"
                RowSelected="RowSelectHandler"
                OnToolbarClick="ToolbarClickHandler"
                RowDeselected="RowDeselectHandler"
                TValue="MedicalStaffWithNavigationPropertiesDto">
            </GridEvents>
            <GridPageSettings PageSize="@PageSize"></GridPageSettings>
            <GridColumns>
                @if (CanDeleteMedicalStaff)
                {
                <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                }

                <GridColumn HeaderText="@L["First Name"]">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var firstName = medicalStaff?.MedicalStaff?.FirstName ?? "No Data";
                        }
                        @firstName
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Last Name"]">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var lastName = medicalStaff?.MedicalStaff?.LastName ?? "No Data";
                        }
                        @lastName
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Location"]">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var city = medicalStaff?.MedicalStaff.City?.Name ?? "";
                        var district = medicalStaff?.District?.Name ?? "";
                        }
                        @city - @district
                    </Template>
                </GridColumn>
                
                <GridColumn HeaderText="@L["Department"]">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var department = medicalStaff?.Department?.Name ?? "No Data";
                        }
                        @department
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Email"]" width="200px">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var email = medicalStaff?.MedicalStaff?.Email ?? "No Data";
                        }
                        @email
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["YearsOfExperience"]" width="40px">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        int yearsOfExperience = DateTime.Now.Year - medicalStaff.MedicalStaff.StartDate.Year -
                        (DateTime.Now.DayOfYear < medicalStaff.MedicalStaff.StartDate.DayOfYear ? 1 : 0);
                        }
                        @yearsOfExperience
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="@L["Gender"]" width="40px">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        var gender = medicalStaff.MedicalStaff.Gender.ToString().First();
                        }
                        @gender
                    </Template>
                </GridColumn>
                <style>
                    .white-icon {
                        color: white !important;
                    }
                </style>

                <GridColumn HeaderText="@L["Actions"]" Width="150">
                    <Template>
                        @{
                        var medicalStaff = (context as MedicalStaffWithNavigationPropertiesDto);
                        }
                        <div class="d-flex justify-content-around">
                            <SfButton CssClass="e-primary" OnClick="@(args => OpenEditModal(medicalStaff))">
                                <span class="e-icons e-edit white-icon"></span>
                            </SfButton>
                            <SfButton CssClass="e-danger" OnClick="@(args => DeleteMedicalStaffAsync(medicalStaff))">
                                <span class="e-icons e-delete white-icon"></span>
                            </SfButton>
                        </div>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </CardBody>
</Card>


@* ************************* CREATE MODAL ************************* *@
<SfDialog Width="800px" IsModal="true" Header="@L["CreateMedicalStaff"]"
          ShowCloseIcon="true" @bind-Visible="@IsVisibleCreate">
    <DialogEvents Closed="@CloseCreateMedicalStaffModal" ></DialogEvents>
    <DialogTemplates>
        <Header>
            <div style="display: inline-flex; align-items: center;">
                <i class="fa fa-pen-to-square" style="margin-right: 5px; font-size: 1.5rem;"></i>
                <h3 style="margin: 0;">@L["CreateMedicalStaff"]</h3>
            </div>
        </Header>
    </DialogTemplates>

    <EditForm Model="@NewMedicalStaff" OnValidSubmit="CreateMedicalStaffAsync">
        <SfForm>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["IdentityNumber"]</label>
                    <SfTextBox TValue="string" @bind-Value="@NewMedicalStaff.IdentityNumber" Placeholder="@L["EnterIdentityNumber"]"
                               MaxLength="MedicalStaffConsts.IdentityNumberLength">
                        <TextBoxEvents OnInput="() => ValidateField('IdentityNumber')"/>
                    </SfTextBox>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["BirthDate"]</label>
                    <SfDatePicker TValue="DateTime" @bind-Value="@NewMedicalStaff.BirthDate" Placeholder="@L["SelectBirthDate"]"/>
                </div>
            </div>

            <div class="form-row">

                <div class="col-md-6 mb-3">
                    <label>@L["StartDate"]</label>
                    <SfDatePicker TValue="DateTime" @bind-Value="@NewMedicalStaff.StartDate" Placeholder="@L["SelectStartDate"]"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["FirstName"]</label>
                    <SfTextBox TValue="string" @bind-Value="@NewMedicalStaff.FirstName" Placeholder="@L["EnterFirstName"]"
                               MaxLength="MedicalStaffConsts.FirstNameMaxLength"/>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["LastName"]</label>
                    <SfTextBox TValue="string" @bind-Value="@NewMedicalStaff.LastName" Placeholder="@L["EnterLastName"]"
                               MaxLength="MedicalStaffConsts.LastNameMaxLength"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["Gender"]</label>
                    <SfDropDownList TValue="EnumGender" @bind-Value="@NewMedicalStaff.Gender" DataSource="@Genders"
                                    Placeholder="@L["SelectGender"]" TItem="KeyValuePair<EnumGender, string>">
                        <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>


                <div class="col-md-6 mb-3">
                    <label>@L["City"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@NewMedicalStaff.CityId" DataSource="@CitiesCollection"
                                    Placeholder="@L["SelectCity"]" TItem="LookupDto<Guid>">
                        <DropDownListEvents TItem="LookupDto<Guid>" TValue="Guid" OnValueSelect="@ChangeCityCreate"></DropDownListEvents>
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["District"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@NewMedicalStaff.DistrictId" DataSource="@DistrictsCollection"
                                    Placeholder="@L["SelectDistrict"]" TItem="LookupDto<Guid>">
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["Department"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@NewMedicalStaff.DepartmentId" DataSource="@DepartmentsCollection"
                                    Placeholder="@L["SelectDepartment"]" TItem="LookupDto<Guid>">
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["PhoneNumber"]</label>
                    <SfTextBox TValue="string" @bind-Value="@PhoneNumber" Placeholder="@L["EnterPhoneNumber"]"
                               MaxLength="MedicalStaffConsts.PhoneNumberMaxLength"/>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["Email"]</label>
                    <SfTextBox TValue="string" @bind-Value="@NewMedicalStaff.Email" Placeholder="@L["EnterEmail"]"
                               MaxLength="MedicalStaffConsts.EmailMaxLength" InputType="InputType.Email"/>
                </div>
            </div>
        </SfForm>
    </EditForm>

    <DialogFooter>
        <SfButton CssClass="e-danger" Content="@L["Cancel"]" IsPrimary="false" OnClick="CloseCreateMedicalStaffModal"/>
        <SfButton CssClass="e-primary" Content="@L["Submit"]" IsPrimary="true" OnClick="CreateMedicalStaffAsync"/>
    </DialogFooter>
</SfDialog>

@* ************************* EDIT MODAL ************************* *@

<SfDialog Width="800px" IsModal="true" Header="@L["UpdateMedicalStaff"]"
          ShowCloseIcon="true" Visible="@IsVisibleEdit">
    <DialogEvents Closed="@CloseEditMedicalStaffModal" ></DialogEvents>
    <DialogTemplates>
        <Header>
            <div style="display: inline-flex; align-items: center;">
                <i class="fa fa-arrows-rotate" style="margin-right: 5px; font-size: 1.5rem;"></i>
                <h3 style="margin: 0;">@L["UpdateMedicalStaff"]</h3>
            </div>
        </Header>
    </DialogTemplates>

    <EditForm Model="@EditingMedicalStaff" OnValidSubmit="UpdateMedicalStaffAsync">
        <SfForm>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["IdentityNumber"]</label>
                    <SfTextBox TValue="string" @bind-Value="@EditingMedicalStaff.IdentityNumber" Placeholder="@L["EnterIdentityNumber"]"
                               MaxLength="MedicalStaffConsts.IdentityNumberLength"/>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["BirthDate"]</label>
                    <SfDatePicker TValue="DateTime" @bind-Value="@EditingMedicalStaff.BirthDate" Placeholder="@L["SelectBirthDate"]"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["StartDate"]</label>
                    <SfDatePicker TValue="DateTime" @bind-Value="@EditingMedicalStaff.StartDate" Placeholder="@L["SelectStartDate"]"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["FirstName"]</label>
                    <SfTextBox TValue="string" @bind-Value="@EditingMedicalStaff.FirstName" Placeholder="@L["EnterFirstName"]"
                               MaxLength="MedicalStaffConsts.FirstNameMaxLength"/>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["LastName"]</label>
                    <SfTextBox TValue="string" @bind-Value="@EditingMedicalStaff.LastName" Placeholder="@L["EnterLastName"]"
                               MaxLength="MedicalStaffConsts.LastNameMaxLength"/>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["Gender"]</label>
                    <SfDropDownList TValue="EnumGender" @bind-Value="@EditingMedicalStaff.Gender" DataSource="@Genders"
                                    Placeholder="@L["SelectGender"]" TItem="KeyValuePair<EnumGender, string>">
                        <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>


                <div class="col-md-6 mb-3">
                    <label>@L["City"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@EditingMedicalStaff.CityId" DataSource="@CitiesCollection"
                                    Placeholder="@L["SelectCity"]" TItem="LookupDto<Guid>">
                        <DropDownListEvents TItem="LookupDto<Guid>" TValue="Guid" OnValueSelect="@ChangeCityCreate"></DropDownListEvents>
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["District"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@EditingMedicalStaff.DistrictId" DataSource="@DistrictsCollection"
                                    Placeholder="@L["SelectDistrict"]" TItem="LookupDto<Guid>">
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["Department"]</label>
                    <SfDropDownList TValue="Guid" @bind-Value="@EditingMedicalStaff.DepartmentId" DataSource="@DepartmentsCollection"
                                    Placeholder="@L["SelectDepartment"]" TItem="LookupDto<Guid>">
                        <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>@L["PhoneNumber"]</label>
                    <SfTextBox TValue="string" @bind-Value="@EditingMedicalStaff.PhoneNumber" Placeholder="@L["EnterPhoneNumber"]"
                               MaxLength="MedicalStaffConsts.PhoneNumberMaxLength"/>
                </div>

                <div class="col-md-6 mb-3">
                    <label>@L["Email"]</label>
                    <SfTextBox TValue="string" @bind-Value="@EditingMedicalStaff.Email" Placeholder="@L["EnterEmail"]"
                               MaxLength="MedicalStaffConsts.EmailMaxLength" InputType="InputType.Email"/>
                </div>
            </div>
        </SfForm>
    </EditForm>

    <DialogFooter>
        <SfButton CssClass="e-danger" Content="@L["Cancel"]" IsPrimary="false" OnClick="CloseEditMedicalStaffModal"/>
        <SfButton CssClass="e-primary" Content="@L["Submit"]" IsPrimary="true" OnClick="UpdateMedicalStaffAsync"/>
    </DialogFooter>
</SfDialog>