@page "/protocols-report-doctor"

@attribute [Authorize(HealthCarePermissions.Protocols.Default)]
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Shared
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Syncfusion.Blazor.Charts
@using Pusula.Training.HealthCare.Blazor.Components.Grids
@using Pusula.Training.HealthCare.Blazor.Components.Filters
@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@using Pusula.Training.HealthCare.Blazor.Services
@using Pusula.Training.HealthCare.Protocols
@inherits HealthCareComponentBase
@inject IProtocolsAppService ProtocolsAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager


@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Report Page - Doctor"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@

<div class="row py-3 px-2">
<div class="col-12 border-1 bg-white p-4" style="box-shadow:0 4px 8px rgba(0,0,0,0.2); "> 

    <GenericFilter TFilter="GetProtocolsInput"
                   Filter="@FilterFirst"
                   ShowSearch="true"
                   GetSearchValue="filter => filter?.FilterText ?? string.Empty"
                   SetSearchValue="(filter, value) => filter.FilterText = value"
                   OnFilterChanged="HandleFilterChanged"
                   OnClearFilters="ClearFilters">
        

        <div class="col-4 mt-3">
            <h6>@L["Doctors"]</h6>
            <SfDropDownList TItem="LookupDto<Guid>" TValue="Guid?"
                            @bind-Value="FilterFirst.DoctorId"
                            DataSource="@DoctorsCollection">
                <DropDownListFieldSettings Text="DisplayName" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </GenericFilter>

</div>
</div>


  @if (_spinnerVisible)
  {
    <SfSpinner  Label="Loading..." Type="SpinnerType.Material" CssClass="e-spinner" Visible="_spinnerVisible" />
}
else
{

    <div style="display: flex; gap: 20px;">
        <div style="flex: 1;">
            <h3>Doctor Grid</h3>
            <GenericGrid TModel="DoctorStatisticDto"
                         @ref="_gridRefFirst"
                         Columns="@_columnsFirst"
                         PageSize="5"
                         Query="@FirstQuery"
                         ShowActions ="false"
                         AdaptorInstance="@typeof(ProtocolDoctorStatisticsAdaptor)"
                         AdaptorType="Adaptors.CustomAdaptor"></GenericGrid>
        </div>

        <div style="flex: 1;">
            <h3>Patient Grid</h3>
            <GenericGrid TModel="ProtocolPatientDoctorListReportDto"
                         @ref="_gridRefSec"
                         Columns="@_columnsSec"
                         PageSize="5"
                         Query="@SecQuery"
                         ShowActions ="false"
                         ShowDetailButton="true"
                         OnDetailClicked="NavigateToDetail"
                         AdaptorInstance="@typeof(ProtocolPatientDoctorListAdaptor)"
                         AdaptorType="Adaptors.CustomAdaptor"></GenericGrid>
        </div>
    </div>
    
    
    
    <SfAccumulationChart Title="Olympic Medal Details">
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@MedalDetails" XName="Country" YName="Medals">
                <AccumulationDataLabelSettings Visible="true"></AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
    </SfAccumulationChart>
 
}

